<!doctype html>
<title>NER</title>
<div id="piped" style="width: 10px; height: 28px; background: red; float:left; margin-left: 10px; margin-bottom: 10px;"></div><div style="float:left; margin-left: 10px; margin-bottom: 10px;">
<span style="font-size: 30px;"><b>Распознаваемые сущности:</b></span></div><br>
<div id="square" style="width: 10px; height: 10px; background: #87d3fa; float:left; clear: left; margin-left: 10px;"></div><div style="float:left; margin-left: 10px;"><span>Организации</span></div>
<div id="square" style="width: 10px; height: 10px; background: lightgreen; float:left; margin-left: 10px;"></div><div style="float:left; margin-left: 10px;"><span>Адреса</span></div>
<div id="square" style="width: 10px; height: 10px; background: #40c75f; float:left; margin-left: 10px;"></div><div style="float:left; margin-left: 10px;"><span>Локации</span></div>
<div id="square" style="width: 10px; height: 10px; background: #ffccaa; float:left; margin-left: 10px;"></div><div style="float:left; margin-left: 10px;"><span>Персоны</span></div>
<div id="square" style="width: 10px; height: 10px; background: #f1f447; float:left; margin-left: 10px;"></div><div style="float:left; margin-left: 10px;"><span>Номера документов</span></div>
<div id="square" style="width: 10px; height: 10px; background: #c39bd3; float:left; margin-left: 10px;"></div><div style="float:left; margin-left: 10px;"><span>Даты</span></div>
<div id="square" style="width: 10px; height: 10px; background: #e59866; float:left; margin-left: 10px;"></div><div style="float:left; margin-left: 10px;"><span>Кадастровые номера</span></div>
<div id="square" style="width: 10px; height: 10px; background: #c1c7ce; float:left; margin-left: 10px;"></div><div style="float:left; margin-left: 10px;"><span>ИНН</span></div>
<div id="square" style="width: 10px; height: 10px; background: #d0d3d4; float:left; margin-left: 10px;"></div><div style="float:left; margin-left: 10px;"><span>ОГРН</span></div>
<div id="square" style="width: 10px; height: 10px; background: #5dade2; float:left; margin-left: 10px;"></div><div style="float:left; margin-left: 10px;"><span>Номера счетов</span></div>
<div id="square" style="width: 10px; height: 10px; background: #fa7773; float:left; margin-left: 10px;"></div><div style="float:left; margin-left: 10px;"><span>Денежные суммы</span></div>
<div style="background-color: #F8F8FF; border-style: groove; padding: 10px; border-radius: 7px; float:left; margin-top: 5px;">
{% for item in data %}
    {% for i in item.items() %}
	{% if i[0] == 'ХАРАКТЕР' or i[0] == 'СВЕДЕНИЯ' or i[0] == 'ОПИСАНИЕ' or i[0] == 'СУММА' or i[0] == 'СРОК' or i[0] == 'ПЕРЕЧЕНЬ' or i[0] == 'ПРЕДМЕТ' or i[0] == 'РЕКВИЗИТЫ' or i[0] == 'ВИД' or i[0] == 'ИНЫЕ' or i[0] == 'ПРИЛАГАЕМЫЕ' or i[0] == 'ОСНОВАНИЕ' or i[0] == 'ОПРЕДЕЛЕНИЯ' %}<br><hr>
	{% endif %}
	{% if i[1] == 'B-ORG' or i[1] == 'I-ORG' %}
	    <span style="background-color: #87d3fa">{{i[0]}}</span>
	{% elif i[1] == 'B-ADDR' or i[1] == 'I-ADDR' %}
	    <span style="background-color: lightgreen">{{i[0]}}</span>
	{% elif i[1] == 'B-LOC' or i[1] == 'I-LOC' %}
	    <span style="background-color: #40c75f">{{i[0]}}</span>
	{% elif i[1] == 'B-PER' or i[1] == 'I-PER' %}
         <span style="background-color:#ffccaa">{{i[0]}}</span>
        {% elif i[1] == 'B-DOCNUM' or i[1] == 'I-DOCNUM' %}
         <span style="background-color: #f1f447">{{i[0]}}</span>
        {% elif i[1] == 'B-DATE' or i[1] == 'I-DATE' %}
         <span style="background-color: #c39bd3">{{i[0]}}</span>
        {% elif i[1] == 'B-CADNUM' or i[1] == 'I-CADNUM' %}
         <span style="background-color: #e59866">{{i[0]}}</span>
        {% elif i[1] == 'B-INN' or i[1] == 'I-INN' %}
         <span style="background-color: #c1c7ce">{{i[0]}}</span>
        {% elif i[1] == 'B-OGRN' or i[1] == 'I-OGRN' %}
         <span style="background-color: #d0d3d4">{{i[0]}}</span>
        {% elif i[1] == 'B-ACCNUM' or i[1] == 'I-ACCNUM' %}
         <span style="background-color: #5dade2">{{i[0]}}</span>
        {% elif i[1] == 'B-MONEM' or i[1] == 'I-MONEM' %}
         <span style="background-color: #fa7773">{{i[0]}}</span>
	{% else %}<span>{{i[0]}}</span>
	{% endif %}
    {% endfor %}
{% endfor %}
</div>
<div id="btn">
    <form action="/show_json/" method="GET">
	<input style="margin-top: 24px; clear: left" type="submit" class="json" value="Показать json">
    </form>
</div>